.cart {
    background-color: #0D182D;
    margin-left: 90px;
    position: fixed;
    width : 1120px;
    height : 550px;
    border : 0px solid;
    border-Width : 2px;
    border-radius: 13px;
    border-style: groove;
    z-index: 20;
    overflow-y: scroll;
}




.cart-card {
    background: white;
    width : 260px;
    height: 400px;
    border : 3px solid;
    border-style:  groove;
    border-radius: 13px;
    border-color: #444;
}
