.profile-dialog {
    margin-left: 150px;
    position: fixed;
    justify-content: center;
    display : flex;
    width : 1000px;
    height : 600px;
    background-color :#80d0c7;
    border : 0px solid;
    border-Width : 2px;
    border-radius: 13px;
    border-color:  #537895; 
    border-style: groove;
    z-index: 20;
    overflow: hidden;
  }


  .profile-dialog-outerbox{
    background-color : #0D182D;
    border : 0px solid;
    border-style: groove;
    border-width: 0px;
    border-color :  #537895; 
    width : 1000px;
    height: 600px;
    color: white;
  }




  button {
    margin: 30px;
    font-size: 18px;
    height: 30px;
    width: 100px;
    border-radius: 10px;
    border: none;
    box-shadow: 1px 1px 0px 2px rgba (0,0,0,0.3);
    background: rgb(141,217,252);
    cursor: pointer;
}

 .success {
   color: white;
    background: #298A5A;
 }

 .failure {
   color: white;
    background: #DD1347;
 }

 .other {
    color: white;
    background: #006064;
 }



 