.card-container {
    background: white;
  text-decoration: none;
  color: #444;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: row;
    /* margin-left: 20px;
    position: fixed;
    width : 250px;
    height : 400px;
    background-color :white;
    border : 0px solid;
    border-Width : 2px;
    border-radius: 13px;
    border-color: black; 
    border-style: groove;
    overflow: hidden; */
}


.band {
    overflow-y: scroll;
}


.card {
    border : 2px solid;
}

