.input {
    background:none; 
    border:0;
    /* border-bottom:5px solid #555; */
    font-weight:bold;
    font-size:1em;
    padding:4px 0;
    outline:0;
  }

  .btn {
    cursor: pointer;
  }
  

  .mydialog {
    margin-left: 450px;
    position: relative;
    justify-content: center;
    display : flex;
    width : 400px;
    height : 200px;
    background-color :white;
    border : 5px solid;
    border-Width : 2px;
    z-index: 20;
    overflow: hidden;
  }


  .mydialog-outerbox{
    background-color :white;
    border : 5px solid;
    border-width: 2px;
    border-color: black; 
    width : 400px;
    height: 196px;
  }

  .cart-dialog {
    margin-left: 450px;
    position: relative;
    justify-content: center;
    display : flex;
    width : 400px;
    height : 200px;
    background-color : white;
    border : 5px solid;
    border-Width : 2px;
    z-index: 20;
    overflow: scroll;
  }

  .outer-cart-dialog {
    background-color : white;
    /* border : 5px solid; */
    /* border-width: 2px; */
    /* border-color: black;  */
    width : 400px;
    height: 196px;
  }

