.menu-bar {
    background-color :#111;
    border : 0px solid;
    border-radius: 13px;
    border-style: groove;
}

input {
    background:white;
    border:0;
    border-bottom:5px solid #555;
    font-weight:bold;
    font-size:1em;
    padding:4px 0;
    outline:0;
  }

button {
    margin: 30px;
    margin-top: 0px;
    font-size: 18px;
    height: 30px;
    width: 100px;
    border-radius: 10px;
    border: none;
    box-shadow: 1px 1px 0px 2px rgba (0,0,0,0.3);
    background: white;
    cursor: pointer;
}

.success {
    background: #298A5A;
 }

 .failure {
    background: #DD1347;
 }

 .other {
    background: #006064;
 }


.input-box {
    margin-left: 9px;
    margin-top: 9px;
    width  : 500px;
    border-width: 2px;
}




.search-setting {
    margin-left: 20px;
    position: fixed;
    /* justify-content: center; */
    /* display:  flex; */
    width : 350px;
    height : 370px;
    background-color :#0D182D;
    border : 0px solid;
    border-Width : 2px;
    border-radius: 13px;
    border-color:  #537895; 
    border-style: groove;
    overflow: hidden;
}


.scrollable {
    overflow:  scroll;
}