/* @media all and (min-width: 480px) { */
    .Login {
      padding: 0px 0;
    }
  
    .Login form {
      margin: 0 auto;
      max-width: 320px;
    }

    h2,input,p {
      color:#555;
      line-height:1.3;
    }

    input[type=text], select {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
    }

    input[type=password], select {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
    }

    
    .container {
      position: fixed;
      width: 100%;
      height: 100%;
      z-index: -10;
      text-align: center;
      transition: all 500ms ease;
    }
    
    .box {
      position: relative;
      margin:60px auto;
      max-width: 1000px;
      background : #0D182D;
      padding: 30px;
      text-align: center;
      border-radius: 20px;
    }
    
    .box::before {
      content: '';
      display: block;
      position: absolute;
      z-index: -1;
      height: 50%;
      width: 90%;
      left: 5%;
      right: 5%;
      bottom: 0px;
      border-radius: 40px;
      box-shadow: 0 10px 50px rgba(0,0,0,0.4);
    }
    
    
    input {
      background:white;
      border:0;
      border-bottom:5px solid #555;
      font-weight:bold;
      font-size:1em;
      padding:4px 0;
      outline:0;
    }
    
    /* small {
      font-size: 11px;
      color: #666;
      a : {
        color: inherit;
      };
    } */

    button {
      /* margin: 30px; */
      font-size: 18px;
      height: 30px;
      width: 100px;
      border: none;
      box-shadow: 1px 1px 0px 2px rgba (0,0,0,0.3);
      cursor: pointer;
     }
     
     .red {
       background: red;
     }
     
     .green {
       background: green;
     }
     
     .yellow {
       background: yellow;
     }

     .cyan {
       background: cyan;
     }

     .lgreen {
       background: lightgreen;
     }

     .inputField {
      text-align: left;
     }

     .blue {
       background:  blue;
       height: 42px;
     }

     .link {
       text-align: center;
       border : none;
     }
    
  /* } */


 
  